<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>HeyMetro | Responsive Web Admin App with AngularJS And Bootstrap</title>
  <meta name="description" content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" href="styles/animate.css" type="text/css" />
  <link rel="stylesheet" href="styles/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="styles/themify-icons.css" type="text/css" />
  <link rel="stylesheet" href="styles/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="styles/font.css" type="text/css" />
  <link rel="stylesheet" href="styles/app.css" type="text/css" />

</head>
<body>
<div class="app app-header-fixed">
  

<div class="container">  
  <div class="center-block w-xl w-auto-xs m-b-lg">
    <div class="text-2x m-v-lg text-primary"><i class="glyphicon glyphicon-th-large text-xl"></i> HeyMetro</div>
    <div class="m-b">
      Forgot your password?
      <p class="text-xs m-t">Enter your email address below and we will send you instructions on how to change your password.</p>
    </div>
    <form name="reset">
      <div class="form-group">
        <input type="email" placeholder="Your Email" ng-model="email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary p-h-md m-v-md" title="Hey!" data-content="Instructions sent to your email." data-type="info" data-container="#alerts-container" bs-alert  ng-disabled="reset.$invalid" >Send</button>
    </form>
    <p id="alerts-container"></p>
    <p class="m-v-lg"><a ui-sref="signin">Return to sign in</a></p>    
  </div>
</div>
<div class="app-footer" ng-include="'views/footer.html'"></div>


</div>

<script src="scripts/jquery.min.js"></script>
<script src="scripts/bootstrap.js"></script>
<script src="scripts/ui-load.js"></script>
<script src="scripts/ui-jp.config.js"></script>
<script src="scripts/ui-jp.js"></script>
<script src="scripts/ui-nav.js"></script>
<script src="scripts/ui-toggle.js"></script>

</body>
</html>